<!DOCTYPE html>
<html lang="en">
<head>
<title>Suade Labs Analytics</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}


</style>
</head>
<body>


<header>
  <h2>Invalid Date Format</h2>
</header>


  
  <article>
    <h1>How to use</h1>
    <p>Provide a date in the format yyyy-mm-dd in the url.</p>
    <p>E.g  http://127.0.0.1:5000/2019-08-01 </p>
  </article>
</section>


</body>
</html>